{% extends 'core/base.html' %}

{% block content %}
    <h1 class="text-3xl">About</h1>

    <div class="mt-6 space-y-6">
        <p>
            <span> <b>Polysia:</b></span> Pioneering Cybersecurity Solutions for a Secure Digital Future

            Polysia is a trailblazing cybersecurity firm dedicated to safeguarding digital environments with innovation and integrity. Our mission is to provide comprehensive security solutions that protect data and foster trust and resilience in our clients' operations. Through advanced technologies and a commitment to excellence, we redefine cybersecurity standards, ensuring a secure tomorrow for businesses and individuals alike.
        </p>

        <p>
           <span> <b> Services</b></span>
            Cybersecurity • Information Security • Information Management • Data Recovery • Computer Networking • Database Development • IT Consulting
        </p>
    </div>
{% endblock %}