{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <header class="py-12 text-center bg-gradient-to-r from-slate-900 via-slate-800 to-slate-900">
        <h1 class="text-5xl text-white">Welcome to Polysia...</h1>
        
        <img src="{% static 'images/Cyber Security.png' %}" alt="Cyber Security" class="mx-auto mb-4">
        
     
        <h1 class="text-4xl text-white">"Pioneering cutting-edge cybersecurity for a safer digital tomorrow!"</h1>
    </header>
{% endblock %}
